body {
    min-width: 960px;
    margin: 0px;  
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;   
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    background: white;
}

h1 {
    line-height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #32425c;
    margin: 0px;
    padding: 33px 30px 35px 30px;
}

h2 {
    font-size: 30px;
    color: #32425c;
    margin: 0px;
    text-transform: uppercase;
}

h3 {
    margin: 0px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
} 

header {
    background: #f1f5f7;
}

.main-header {
    padding-bottom: 60px;
}

.header-top {
    background: #293449;
    min-height: 42px;
}

.header-top .index-logo {
    float:left;
    width: 220px;
    min-height: 42px;
    margin-right: 10px;
    background: #ee3643;
}

.header-top .search {
    float:left;
    width: 170px;
    min-height: 42px;
}

.header-top .shop-block {
    float: right;
    width: 470px;
    min-height: 42px;
}

.header-top .shop-block .link {
    float: left;
    width: 150px;
    min-height: 42px;
    margin-right: 10px;
}

.header-top .shop-block .link:last-child {
    margin-right: 0;
}

.bookmarks {}
.cart {}
.place-order {
    background: #63a63e;
}

.header-middle {
    min-height: 158px;
}

.header-middle .site-info {
    float: left;
    width: 300px;
    min-height: 158px;
    margin-right: 20px;
}

.header-middle .contacts-header {
    float: left;
    width: 300px;
    min-height: 158px;
    margin-right: 20px;
}

.header-middle .user-block {
    float: right;
    width: 300px;
    min-height: 158px;
}

.header-bottom {
    background: #293449;
}

nav {
    min-height: 55px;
}

.main-indent {
    padding-top: 60px;
}

.category {
    min-height: 408px;
    margin-bottom: 53px;
}

.category-item {
    float: left;
    width: 300px;
    min-height: 123px;
    margin-right: 20px;  
    margin-bottom: 20px;
    background: #f6b22d;  
}

.category-item:nth-child(n+3) {
    margin-right: 0;
}

.category-item:last-child {
    margin-bottom: 0;
}

.category-blue {
    background: #4aafde;
}

.category-lilac {
    background: #cc79d1;
}

.category-green {
    background: #85d179;
}

.slider-item {
    float: left;
    width: 620px;
    height: 266px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.popular-product-list {
    margin-bottom: 20px;
}

.heading-block {
    background: #f7f3ec;
    min-height: 89px;
    margin-bottom: 20px
}

.heading-title {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.btn {
    height: 38px;
}

.btn-red {
    background: #ee3643;
}

.heading-block .btn {
    width: 253px;
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 24px;  
}

.popular-product-list .product {
    float: left;
    min-height: 318px;
    width: 220px;
    margin-right: 20px;
    outline: 1px solid #e5e5e5;
}

.popular-product-list .product:last-child {
    margin-right: 0;
}

.brand-list {
    margin-bottom: 86px;
}

.btn-brand {
    float: left;
    min-height: 145px;
    width: 220px;
    margin-right: 20px;
    outline: 1px solid #e5e5e5;    
}

.btn-brand:nth-child(-n+4) {
    margin-bottom: 20px;
}

.btn-brand:nth-child(4n) {
    margin-right: 0;
}

.services-block {
    min-height: 522px;
    background: #f2f6f8;
}

.services-top {
    padding-top: 68px;
}

.services-bottom {}

.services-menu {
    float: left;
    margin-right: 60px;
    width: 240px;
}

.services-info {
    float:left;
}

.services-info-title {}

.services-info-text {
    width: 320px;
}

.index-content {
    padding-top: 80px;
    padding-bottom: 86px;
}

.index-content-right {
    float: left;
    margin-right: 60px;
    width: 560px;
}

.index-content-left {
    float: left;
    width: 320px;
}

.main-footer {
}

.footer-top {
    background: #32425c;
}

.footer-top-left {
    float: left;
    width: 380px;
}

.footer-top-right {
    float: right;
    width: 550px;
}

.footer-bottom {
    background: #293449;
}

.footer-copyright {
    float: left;
    margin-right: 80px;
    width: 300px;
}

.footer-social {
    float: left;
    margin-right: 80px;
    width: 160px;    
}

.footer-info {
    float: right;
    width: 320px;
}

.footer-feedback {
    float: left;
    margin-left: 10px;
    width:150px;
}

.footer-developer {
    float: left;
    margin-left: 10px;
    width:150px;
}

/* стили catalog.html */

.header-middle .user-block-logged {
    float: right;
    width: 300px;
    min-height: 158px;
}

.breadcrumbs {
    min-height: 60px;
}

.product-group {
    min-height: 89px;
    background: #f2f6f8;
    margin-bottom: 20px;
}

.column-left {
    float: left;
    width: 200px;
    margin-right: 20px;
}

.column-left-title {
    background: #f7f3ec;
    min-height: 38px;
    margin-bottom: 20px;
}

.filter {}

.filter-block {}

.price {
    min-height: 162px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.brand {
    min-height: 262px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.power-supply {
    min-height: 200px;
}

.column-right {
    float: left;
    width: 700px;
}

.sort-bock {
    background: #f7f3ec;
}

.sort-bock-title {}

.product-list .product {
    float: left;
    min-height: 318px;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    outline: 1px solid #e5e5e5;
}

.product-list .product:nth-child(3n) {
    margin-right: 0;
}

.pagination {
    clear: left;
    margin-top: 32px;
}

.main-bottom {
    margin-top: 60px;
    background: #f2f6f8;
    min-height: 260px;
}






